body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #58ACFA;
}
.quem-somos{
    background-color: #9F81F7 ;
    color: rgb(70, 66, 66);
}

.margin{    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #00FFFF;
}

.bg-footer{
    background-color: black;
    color: yellowgreen;
}